.login-form, .signup-form {
    max-width: 400px;
    background-color: #D1D5DB; /* Set a lighter background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    color: black; /* Set text color to black */
}

.form-logo {
    width: 100px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Style for "Forgot Password?" link */
.text-decoration-none:hover {
    text-decoration: underline;
}

/* Style for "No account?" and "Already have an account?" text */
.text-center span {
    font-size: 14px;
}

/* Style for terms and conditions checkbox */
.form-check-label a {
    color: #007bff;
}

.form-check-label a:hover {
    text-decoration: underline;
}
