
    {% extends 'base.html' %}

{% load static %}

{% block title %}Home - Quizzy{% endblock %}

{% block content %}
<section id="home" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <main id="description">
                    <p>Welcome to Quizzy - Where Learning Meets Fun!</p>
                    <p>Test your knowledge with our wide range of quizzes, or create and share your own. You can even create gradable quizzes and track progress. Start learning and quizzing with Quizzy today!</p>
                    
                        <button id="createAccountButton" class="btn btn-primary">
                            Create Account/login
                        </button>
                        <button id="Dashboard" class="btn btn-primary">
                            Create/Take a Quiz
                        </button>
                </main>
            </div>
            <div class="col-md-6">
                <aside id="secondaryLogo">
                    <img src="{% static 'Quizzy/images/SecondaryLogo.png' %}" alt="SecondaryLogo" class="img-fluid">
                </aside>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const dashboardButton = document.getElementById('Dashboard');
    const createAccountButton = document.getElementById('createAccountButton');

        dashboardButton.addEventListener('click', function() {
            window.location.href = '/dashboard/'; // Update with your actual dashboard URL
        })
        createAccountButton.addEventListener('click', function() {
            window.location.href = '/login/'; // Update with your actual signup URL
        })
    
});
</script>
{% endblock %}


